# .coveragerc to control coverage.py
[run]
source = .
omit =
   */templates/*
   */staticfiles/*
   */static/*
   */src/*
   *manage.py
   */node_modules/*
   */settings.py*
   */test_settings.py*
   */tests/*
   *apps.py*
   *migrations/*
   *asgi.py*
   *wsgi.py*

   *__init__*
   */__pycache__/*
   */site-packages/*
   */distutils/*


[report]
#fail_under = 100
show_missing = True
#skip_covered = True